.login-with-google-button {
  padding: 9px 15px;
  border-radius: 10px;
  width: 100%;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
